{% extends 'base.html.twig' %}

{% block title %}Тестовая страница с комментариями{% endblock %}
{% block body %}
    <div class="container">
        <article>
            <div class="row">
                <div class="col">
                    <section style="text-align: center;">
                        <h1>{{ page.title }}</h1>
                        {% if user_role == 'anon.' %}
                        <div style="text-align: right">
                            <button class="btn btn-primary" onclick='location.href="/login"'>Войти</button>
                        </div>
                        {% endif %}
                    </section>
                </div>
            </div>
            <div class="row">
                <section>
                    {{ page.text }}
                </section>
            </div>
            <div class="row">
                <section>
                    <br>
                    <h5 style="text-align: left;">Комментарии к статье</h5>
                    <div>
                        {% if page.comments|length > 0 %}
                            <div data-bind="foreach: comments">
                                <div>
                                    <br>
                                    <span data-bind="text: text"></span> <br>
                                    <div style="text-align: left; border-top: outset #5eb5e0 2px">
                                        <span data-bind="text: username"></span>
                                        <span data-bind="text: date"></span> <br>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div style="border-bottom: outset #5eb5e0 2px">
                                Здесь еще нет ниодного комментария, ваш может быть первым...
                            </div><br>
                        {% endif %}
                    </div>
                </section>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-6">
                    {% if user_role != 'anon.' %}
                        <div class="form-group">
                            <div class="form-group">
                                <label for="comment_text">Комментарий:</label>
                                <textarea data-bind="value: comment_text" class="form-control" id="comment_text"
                                          placeholder="Введите текст комментария" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group" style="text-align: center">
                            <button class="btn btn-success" style="width: 50%" id="sendButton">Отправить</button>
                        </div>
                    {% else %}
                        <div style="margin: auto">Для того чтобы писать комментарии, пожалуйста, авторизуйтесь</div>
                    {% endif %}
                </div>
                <div class="col"></div>
            </div>
        </article>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    <script>
        function Comment(text, date, username = "") {
            this.date = date;
            this.text = text;
            this.username = username;
        }
        var viewModel = {
            comments: ko.observableArray([]),
            comment_text: ko.observable("")
        }
        ko.applyBindings(viewModel)
        var addItemBtn = document.getElementById("sendButton");
        if(addItemBtn) {
            addItemBtn.addEventListener("click", function (e) {
                var data = {
                    'text': viewModel.comment_text()
                };
                $.post("/add_comment/"+{{ page.id }}, {'text':viewModel.comment_text()},function (date) {
                    viewModel.comments.push(
                        new Comment(viewModel.comment_text(), date, "{{ user.username }}"));
                    viewModel.comment_text("");
                } )

            });
        }
        $.get("/get_all_comments/" +{{ page.id }}, function (data) {
            var comments = JSON.parse(data);
            comments.forEach(function (data) {
                var comment = JSON.parse(data);
                viewModel.comments.push(new Comment(comment.text, comment.date, comment.username));
            });
        });
    </script>
{% endblock %}